# üìä Project: Data Quality Framework for BSE Market Instruments

This project automates the download, loading, and validation of BSE BhavCopy data. It applies key data quality (DQ) checks to ensure consistency, completeness, and accuracy of market data.

## üìÅ 1. Data Download and Setup

Import necessary Libriaries

In [1]:
import os
import requests
from datetime import datetime, timedelta
import time
import pandas as pd
import re

Code for downloading BhavCopy CSV files from BSE's public archive.

In [2]:
def clear_folder(folder_path):
    """Delete all files in the specified folder."""
    if os.path.exists(folder_path):
        for filename in os.listdir(folder_path):
            file_path = os.path.join(folder_path, filename)
            if os.path.isfile(file_path):
                os.remove(file_path)
        print(f"üßπ Cleared folder: {folder_path}")
    else:
        os.makedirs(folder_path)
        print(f"üìÇ Created folder: {folder_path}")

def download_bse_bhavcopy(start_date, end_date, download_path="bse_bhavcopies"):
    base_url = "https://www.bseindia.com/download/BhavCopy/Equity/BhavCopy_BSE_CM_0_0_0_{date}_F_0000.CSV"
    
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)',
        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
        'Accept-Encoding': 'gzip, deflate, br',
        'Accept-Language': 'en-US,en;q=0.5',
        'Referer': 'https://www.bseindia.com/',
        'Connection': 'keep-alive'
    }

    clear_folder(download_path)

    current = start_date
    while current <= end_date:
        if current.weekday() < 5:  # Skip weekends
            date_str = current.strftime("%Y%m%d")
            file_url = base_url.format(date=date_str)
            filename = f"BhavCopy_BSE_{date_str}.csv"
            file_path = os.path.join(download_path, filename)

            try:
                response = requests.get(file_url, headers=headers, timeout=10)
                content_type = response.headers.get("Content-Type", "")

                if response.status_code == 200:
                    with open(file_path, "wb") as f:
                        f.write(response.content)
                    print(f"‚úÖ Downloaded: {filename}")
                else:
                    print(f"‚ùå Not found or wrong type: {filename} | Content-Type: {content_type}")

            except Exception as e:
                print(f"‚ö†Ô∏è Error downloading {filename}: {e}")

            time.sleep(1.5)  # Be polite to the server
        current += timedelta(days=1)
# Download Files
start = datetime(2025, 3, 1)
end = datetime(2025, 3, 31)
download_bse_bhavcopy(start, end)

üßπ Cleared folder: bse_bhavcopies
‚úÖ Downloaded: BhavCopy_BSE_20250303.csv
‚úÖ Downloaded: BhavCopy_BSE_20250304.csv
‚úÖ Downloaded: BhavCopy_BSE_20250305.csv
‚úÖ Downloaded: BhavCopy_BSE_20250306.csv
‚úÖ Downloaded: BhavCopy_BSE_20250307.csv
‚úÖ Downloaded: BhavCopy_BSE_20250310.csv
‚úÖ Downloaded: BhavCopy_BSE_20250311.csv
‚úÖ Downloaded: BhavCopy_BSE_20250312.csv
‚úÖ Downloaded: BhavCopy_BSE_20250313.csv
‚ùå Not found or wrong type: BhavCopy_BSE_20250314.csv | Content-Type: text/html; charset=utf-8
‚úÖ Downloaded: BhavCopy_BSE_20250317.csv
‚úÖ Downloaded: BhavCopy_BSE_20250318.csv
‚úÖ Downloaded: BhavCopy_BSE_20250319.csv
‚úÖ Downloaded: BhavCopy_BSE_20250320.csv
‚úÖ Downloaded: BhavCopy_BSE_20250321.csv
‚úÖ Downloaded: BhavCopy_BSE_20250324.csv
‚úÖ Downloaded: BhavCopy_BSE_20250325.csv
‚úÖ Downloaded: BhavCopy_BSE_20250326.csv
‚úÖ Downloaded: BhavCopy_BSE_20250327.csv
‚úÖ Downloaded: BhavCopy_BSE_20250328.csv
‚ùå Not found or wrong type: BhavCopy_BSE_20250331.csv | Content-Type: text/html; charset=utf-8

## üì• 2. Data Loading and Cleaning

Load all downloaded files, inspect structure, and prepare for analysis.

In [3]:
Data = []

for filename in os.listdir('bse_bhavcopies'):
    file_path = os.path.join('bse_bhavcopies', filename)
    df = pd.read_csv(file_path)
    date_str = filename.replace("BhavCopy_BSE_", "").replace(".csv", "")
    df['Date'] = pd.to_datetime(date_str, format="%Y%m%d")
    Data.append(df) 
combined_df = pd.concat(Data, ignore_index=True)
combined_df.columns = combined_df.columns.str.strip()

In [4]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86134 entries, 0 to 86133
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   TradDt               86134 non-null  object
 1   BizDt                86134 non-null  object
 2   Sgmt                 86134 non-null  object
 3   Src                  86134 non-null  object
 4   FinInstrmTp          86134 non-null  object
 5   FinInstrmId          86134 non-null  int64
 6   ISIN                 86134 non-null  object
 7   TckrSymb             86134 non-null  object
 8   SctySrs              86134 non-null  object
 9   XpryDt               0 non-null      float64
 10  FininstrmActlXpryDt  0 non-null      float64
 11  StrkPric             0 non-null      float64
 12  OptnTp               0 non-null      float64
 13  FinInstrmNm          86134 non-null  object
 14  OpnPric              86134 non-null  float64
 15  HghPric              86134 non-null  float64
 16  LwPric               86134 non-null  float64
 17  ClsPric              86134 non-null  float64
 18  LastPric             86134 non-null  float64
 19  PrvsClsgPric         86134 non-null  float64
 20  UndrlygPric          0 non-null      float64
 21  SttlmPric            86132 non-null  float64
 22  OpnIntrst            0 non-null      float64
 23  ChngInOpnIntrst      0 non-null      float64
 24  TtlTradgVol          86134 non-null  int64
 25  TtlTrfVal            86134 non-null  float64
 26  TtlNbOfTxsExctd      86134 non-null  int64
 27  SsnId                86134 non-null  object
 28  NewBrdLotQty         86134 non-null  int64
 29  Rmks                 0 non-null      float64
 30  Rsvd1                0 non-null      float64
 31  Rsvd2                0 non-null      float64
 32  Rsvd3                0 non-null      float64
 33  Rsvd4                0 non-null      float64
 34  Date                 86134 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(20), int64(4), object(10)
memory usage: 23.0+ MB

In [5]:
combined_df.head(20)

,TradDt,BizDt,Sgmt,Src,FinInstrmTp,FinInstrmId,ISIN,TckrSymb,SctySrs,XpryDt,...,TtlTrfVal,TtlNbOfTxsExctd,SsnId,NewBrdLotQty,Rmks,Rsvd1,Rsvd2,Rsvd3,Rsvd4,Date
0,2025-03-03,2025-03-03,CM,BSE,STK,500002,INE117A01022,ABB,A,NaN,...,59771184.0,2658,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
1,2025-03-03,2025-03-03,CM,BSE,STK,500003,INE208C01025,AEGISLOG,A,NaN,...,174431287.0,4944,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
2,2025-03-03,2025-03-03,CM,BSE,STK,500008,INE885A01032,ARE&M,A,NaN,...,142627397.0,11951,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
3,2025-03-03,2025-03-03,CM,BSE,STK,500009,INE432A01017,AMBALALSA,X,NaN,...,7002903.0,918,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
4,2025-03-03,2025-03-03,CM,BSE,STK,500012,INE714B01016,ANDHRAPET,X,NaN,...,4915213.0,793,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
5,2025-03-03,2025-03-03,CM,BSE,STK,500013,INE436A01026,ANSALAPI,Z,NaN,...,285522.0,54,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
6,2025-03-03,2025-03-03,CM,BSE,STK,500014,INE096A01010,UTIQUE,X,NaN,...,152274.0,187,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
7,2025-03-03,2025-03-03,CM,BSE,STK,500016,INE957C01019,ARUNAHTEL,X,NaN,...,188345.0,52,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
8,2025-03-03,2025-03-03,CM,BSE,STK,500020,INE032A01023,BOMDYEING,A,NaN,...,15322985.0,1677,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
9,2025-03-03,2025-03-03,CM,BSE,STK,500023,INE363A01022,ASIANHOTNR,T,NaN,...,35644.0,1,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
10,2025-03-03,2025-03-03,CM,BSE,STK,500027,INE100A01010,ATUL,A,NaN,...,33493148.0,1356,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
11,2025-03-03,2025-03-03,CM,BSE,STK,500028,INE447A01015,ATVPR,X,NaN,...,1804196.0,296,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
12,2025-03-03,2025-03-03,CM,BSE,STK,500031,INE193E01025,BAJAJELEC,A,NaN,...,1891772.0,471,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
13,2025-03-03,2025-03-03,CM,BSE,STK,500032,INE306A01021,BAJAJHIND,A,NaN,...,10746165.0,2301,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
14,2025-03-03,2025-03-03,CM,BSE,STK,500033,INE451A01017,FORCEMOT,A,NaN,...,25973829.0,1094,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
15,2025-03-03,2025-03-03,CM,BSE,STK,500034,INE296A01024,BAJFINANCE,A,NaN,...,522770589.0,11807,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
16,2025-03-03,2025-03-03,CM,BSE,STK,500038,INE119A01028,BALRAMCHIN,A,NaN,...,8367317.0,1008,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
17,2025-03-03,2025-03-03,CM,BSE,STK,500039,INE213C01025,BANCOINDIA,B,NaN,...,6556192.0,1023,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
18,2025-03-03,2025-03-03,CM,BSE,STK,500040,INE055A01016,ABREL,A,NaN,...,70700070.0,4300,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03
19,2025-03-03,2025-03-03,CM,BSE,STK,500041,INE459A01010,BANARISUG,B,NaN,...,93626.0,9,F1,1,NaN,NaN,NaN,NaN,NaN,2025-03-03

In [6]:
# bhav_format_df
pd.set_option('display.max_columns', None)

bhav_format_df = pd.read_excel('UDiFF_BhavCopy_format.xlsx')
bhav_format_df.columns = bhav_format_df.columns.str.strip() 
bhav_format_df

,Sr. No.,Field Name,Data Type,ISO Tags,CM,FO,CD,COM,Data Format ( if any),Field Description
0,1,Trade Date,Varchar (10)\nFormat (YYYY-MM-DD),TradDt,Yes,Yes,Yes,Yes,Format (YYYY-MM-DD),Trade Date
1,2,Business Date,Varchar (10)\nFormat (YYYY-MM-DD),BizDt,Yes,Yes,Yes,Yes,Format (YYYY-MM-DD),This will be date when the session has started
2,3,Segment Indicator,Varchar (5),Sgmt,Yes,Yes,Yes,Yes,-,"Refer sheet ""Standard Value List""\n\nCM=Cash M..."
3,4,Source,Varchar (10),Src,Yes,Yes,Yes,Yes,-,"Refer sheet ""Standard Value List"""
4,5,Instrument Type,Varchar (5),FinInstrmTp,Yes,Yes,Yes,Yes,-,"\n\nCM= STK\n\nFO = STF (Futures Stock),STO (O..."
5,6,Unique Instrument Identifier Of Trading Exchange,NUMERIC(10),FinInstrmId,Yes,Yes,Yes,Yes,-,Scrip Code/Contract Token Number
6,7,Instrument ISIN,VarChar (12),ISIN,Yes,Blank,Blank,Blank,-,ISIN
7,8,Instrument Symbol or Scrip Code,Varchar(12),TckrSymb,Yes,Yes,Yes,Yes,-,Symbol
8,9,Instrument Series,Varchar(4),SctySrs,Yes,Blank,Blank,Blank,-,Scrip Group under which the scrip is traded
9,10,Instrument Original Expiry Date,Varchar (10)\nFormat (YYYY-MM-DD),XpryDt,Blank,Yes,Yes,Yes,Format (YYYY-MM-DD),Instrument Original Expiry Date is the expiry ...
10,11,Instrument Actual Expiry Date,Varchar (10)\nFormat (YYYY-MM-DD),FininstrmActlXpryDt,Blank,Yes,Yes,Yes,Format (YYYY-MM-DD),Values shall be same as field Original Expiry ...
11,12,Instrument Strike Price,"NUMERIC(25,6)\nMax Value can be (9999999999999...",StrkPric,Blank,Yes,Yes,Yes,\nMax Value can be (9999999999999999999.999999...,Max values populated as 19 numeric digits befo...
12,13,Instrument Option Type,varchar(2),OptnTp,Blank,Yes,Yes,Yes,-,"Refer sheet ""Standard Value List"""
13,14,Instrument Name,VarChar(50),FinInstrmNm,Yes,Yes,Yes,Yes,-,In CM segment it will reflect scrip name provi...
14,15,Open,"NUMERIC(25,6)\nMax Value can be (9999999999999...",OpnPric,Yes,Yes,Yes,Yes,\nMax Value can be (9999999999999999999.999999...,Opening Price\n\nMax values populated as 19 nu...
15,16,High,"NUMERIC(25,6)\nMax Value can be (9999999999999...",HghPric,Yes,Yes,Yes,Yes,\nMax Value can be (9999999999999999999.999999...,High Price for the Day\nMax values populated a...
16,17,Low,"NUMERIC(25,6)\nMax Value can be (9999999999999...",LwPric,Yes,Yes,Yes,Yes,\nMax Value can be (9999999999999999999.999999...,Low Price for the Day\nMax values populated as...
17,18,Close,"NUMERIC(25,6)\nMax Value can be (9999999999999...",ClsPric,Yes,Yes,Yes,Yes,\nMax Value can be (9999999999999999999.999999...,Closing Price for the Day\nMax values populate...
18,19,LTP,"NUMERIC(25,6)\nMax Value can be (9999999999999...",LastPric,Yes,Yes,Yes,Yes,\nMax Value can be (9999999999999999999.999999...,Last Traded Price\nMax values populated as 19 ...
19,20,Previous Close,"NUMERIC(25,6)\nMax Value can be (9999999999999...",PrvsClsgPric,Yes,Yes,Yes,Yes,\nMax Value can be (9999999999999999999.999999...,Previous Day's Closing Price\nMax values popul...
20,21,Underlying Asset price,"NUMERIC(25,6)\nMax Value can be (9999999999999...",UndrlygPric,Blank,Yes,Yes,Yes,\nMax Value can be (9999999999999999999.999999...,Max values populated as 19 numeric digits befo...
21,22,Settlement Price,"NUMERIC(25,6)\nMax Value can be (9999999999999...",SttlmPric,Yes,Yes,Yes,Yes,\nMax Value can be (9999999999999999999.999999...,Max values populated as 19 numeric digits befo...
22,23,Open Interest,Numeric(25)\nMax Value can be (999999999999999...,OpnIntrst,Blank,Yes,Yes,Yes,Max Value can be (9999999999999999999999999)\n...,Open Interest
23,24,Change in Open Interest,Numeric(25)\nMax Value can be (999999999999999...,ChngInOpnIntrst,Blank,Yes,Yes,Yes,Max Value can be (9999999999999999999999999)\n...,Change in Open Interest
24,25,Total Traded Qty,Numeric(25),TtlTradgVol,Yes,Yes,Yes,Yes,NaN,Total Traded Qty
25,26,Total Traded Value,"NUMERIC(25,6)\nMax Value can be (9999999999999...",TtlTrfVal,Yes,Yes,Yes,Yes,\nMax Value can be (9999999999999999999.999999...,Max values populated as 19 numeric digits befo...
26,27,Total Number of Trades,Numeric(25),TtlNbOfTxsExctd,Yes,Yes,Yes,Yes,NaN,Total Number of Trades
27,28,Session Id,varchar (2),SsnId,Yes,Yes,Yes,Yes,-,Values shall be populated as per below underst...
28,29,Market Lot Size,Numeric(12),NewBrdLotQty,Yes,Yes,Yes,Yes,-,Market Lot
29,30,Remarks,VARCHAR (150),Rmks,Blank,Blank,Blank,Blank,-,Value in this field will be Blank
30,31,Dummy field 1,Varchar(50),Rsvd1,Blank,Blank,Blank,Blank,-,Value in this field will be Blank
31,32,Dummy field 2,Varchar(50),Rsvd2,Blank,Blank,Blank,Blank,-,Value in this field will be Blank
32,33,Dummy field 3,Varchar(50),Rsvd3,Blank,Blank,Blank,Blank,-,Value in this field will be Blank
33,34,Dummy field 4,Varchar(50),Rsvd4,Blank,Blank,Blank,Blank,-,Value in this field will be Blank

In [7]:
# Rename columns
bhav_format_df['Field Name'] = bhav_format_df['Field Name'].str.strip().str.replace(' ', '_').str.lower()

new_columns = {}
for index, row in bhav_format_df.iterrows():
    new_columns[row['ISO Tags']] = row['Field Name']
combined_df = combined_df.rename(columns = new_columns)

#Filter Columns
keep_columns = ['business_date', 
               'instrument_isin', 
               'instrument_symbol_or_scrip_code',
               'instrument_series', 
               'open', 
               'high', 
               'low', 
               'close',
               'ltp', 
               'previous_close', 
               'settlement_price', 
               'total_traded_qty',
               'total_traded_value', 
               'total_number_of_trades']
combined_df = combined_df[keep_columns]
bhav_format_df = bhav_format_df[bhav_format_df['Field Name'].isin(keep_columns)]

In [8]:
# Column description
bhav_format_df = bhav_format_df.copy()
bhav_format_df['Field Description'] = bhav_format_df['Field Description'].astype(str).str.split('\n').str[0]
description = bhav_format_df[['Field Name', 'Field Description']]
combined_df.attrs['column_descriptions'] = description.to_dict()['Field Description']

for col, desc in zip(description['Field Name'], description['Field Description']):
    print(f"{col}: {desc}")

business_date: This will be date when the session has started
instrument_isin: ISIN
instrument_symbol_or_scrip_code: Symbol
instrument_series: Scrip Group under which the scrip is traded
open: Opening Price
high: High Price for the Day
low: Low Price for the Day
close: Closing Price for the Day
ltp: Last Traded Price
previous_close: Previous Day's Closing Price
settlement_price: Max values populated as 19 numeric digits before decimal and 6 numeric digits after decimal.
total_traded_qty: Total Traded Qty
total_traded_value: Max values populated as 19 numeric digits before decimal and 6 numeric digits after decimal.
total_number_of_trades: Total Number of Trades

## üìä 3. Data Quality Rules

Define and implement checks like null values, duplicates, outliers, and anomalies.

In [9]:
# Initialize summary list
dq_summary = []

# 1. Null Check
null_check_fields = [
    'instrument_isin', 'instrument_symbol_or_scrip_code', 'close', 'total_traded_qty'
]
for field in null_check_fields:
    total = len(combined_df)
    null_issues = combined_df[field].isnull().sum()
    dq_summary.append({
        "DQ Rule": f"Null Check: {field}",
        "Records Checked": total,
        "Issues Found": null_issues,
        "Pass %": round(100 * (1 - null_issues / total), 2)
    })
print("üîç Null Value Issues:\n", null_issues)

üîç Null Value Issues:
 0

In [10]:
# 2. Duplicate Check
total = len(combined_df)
duplicates = combined_df.duplicated(
    subset=['business_date', 'instrument_symbol_or_scrip_code']
).sum()
dq_summary.append({
    "DQ Rule": "Duplicate Check: trade_date + symbol",
    "Records Checked": total,
    "Issues Found": duplicates,
    "Pass %": round(100 * (1 - duplicates / total), 2)
})
print(f"üîç Duplicate Records Found: {duplicates}")

üîç Duplicate Records Found: 0

In [11]:
# 3. Price Outlier Check

combined_df['close'] = pd.to_numeric(combined_df['close'], errors='coerce')
combined_df['previous_close'] = pd.to_numeric(combined_df['previous_close'], errors='coerce')
combined_df['price_change_pct'] = ((combined_df['close'] - combined_df['previous_close']) / combined_df['previous_close']) * 100
outliers = combined_df[combined_df['price_change_pct'].abs() > 100]
dq_summary.append({
    "DQ Rule": "Price Change > 100%",
    "Records Checked": total,
    "Issues Found": len(outliers),
    "Pass %": round(100 * (1 - len(outliers) / total), 2)
})
print(f"‚ö†Ô∏è Outliers in Close Price (>100% change): {len(outliers)}")

‚ö†Ô∏è Outliers in Close Price (>100% change): 105

These are likely data quality issues (e.g. bad imports, split adjustments not accounted for, or real but extreme volatility).

In [12]:
# 4. Volume Anomaly (>10000 median)
volume_anomaly = combined_df[
    combined_df['total_traded_qty'] > 10000 * combined_df['total_traded_qty'].median()
]
dq_summary.append({
    "DQ Rule": "Volume > 10000 Median",
    "Records Checked": total,
    "Issues Found": len(volume_anomaly),
    "Pass %": round(100 * (1 - len(volume_anomaly) / total), 2)})
print(f"üìà Volume Anomalies (>10000 median): {len(volume_anomaly)}")

üìà Volume Anomalies (>10000 median): 6

In [13]:
# 5. ISIN Format Validation
isin_pattern = re.compile(r"^IN[A-Z0-9]{10}$")
invalid_isins = combined_df[~combined_df['instrument_isin'].astype(str).str.match(isin_pattern)]

dq_summary.append({
    "DQ Rule": "ISIN Format Validation",
    "Records Checked": total,
    "Issues Found": len(invalid_isins),
    "Pass %": round(100 * (1 - len(invalid_isins) / total), 2)})

print(f"üîç Invalid ISIN Format: {len(invalid_isins)} records")

üîç Invalid ISIN Format: 0 records

In [14]:
# 6. Price Field Consistency
price_errors = combined_df[
    (combined_df['low'] > combined_df['close']) |
    (combined_df['close'] > combined_df['high']) |
    ((combined_df[['low', 'close', 'high']] < 0).any(axis=1))]

dq_summary.append({
    "DQ Rule": "Price Erroe",
    "Records Checked": total,
    "Issues Found": len(price_errors),
    "Pass %": round(100 * (1 - len(price_errors) / total), 2)})

print(f"üìâ Price Consistency Errors: {len(price_errors)} records")

üìâ Price Consistency Errors: 2 records

In [15]:
# 7. Trade Value
trade_qv_errors = combined_df[
    (combined_df['total_traded_qty'] > 0) &
    (combined_df['total_traded_value'] <= 0)]

dq_summary.append({
    "DQ Rule": "Total Traded Value <= 0",
    "Records Checked": total,
    "Issues Found": len(trade_qv_errors),
    "Pass %": round(100 * (1 - len(trade_qv_errors) / total), 2)})

print(f"üî¢ Invalid Quantity/Value: {len(trade_qv_errors)} records")

üî¢ Invalid Quantity/Value: 2 records

## 4. Summary of Issues

### ‚úÖ Key Findings:

In [16]:
# Convert to DataFrame for display
dq_summary_df = pd.DataFrame(dq_summary)
print(dq_summary_df.to_string(index=False))

                                    DQ Rule  Records Checked  Issues Found  Pass %
                Null Check: instrument_isin            86134             0  100.00
Null Check: instrument_symbol_or_scrip_code            86134             0  100.00
                          Null Check: close            86134             0  100.00
               Null Check: total_traded_qty            86134             0  100.00
       Duplicate Check: trade_date + symbol            86134             0  100.00
                        Price Change > 100%            86134           105   99.88
                      Volume > 10000 Median            86134             6   99.99
                     ISIN Format Validation            86134             0  100.00
                                Price Erroe            86134             2  100.00
                    Total Traded Value <= 0            86134             2  100.00